* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 255, 249);
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  color: slategray;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

.keyboard__display {
  width: 760px;
  height: 100px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
}

.keyboard__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  width: 760px;
  min-height: 245px;
  background-color: rgb(209, 198, 198);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px;
}

.description {
  font-size: 18px;
  color: rgb(0, 20, 41);
  text-align: center;
  font-weight: bold;
}

.btn {
  width: 40px;
  height: 40px;
  background-color: rgb(107, 106, 106);
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(49, 54, 126);
}

.btn-dark:hover {
  background-color: rgb(49, 54, 126);
}

.btn:hover {
  background-color: rgb(49, 54, 126);
}

.btn-dark {
  min-width: 61px;
  height: 40px;
  background-color: rgb(48, 44, 44);
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.btn-hard {
  position: relative;
  width: 50px;
  min-height: 50px;
  background-color: rgb(107, 106, 106);
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hard::before {
  content: "!";
  position: absolute;
  left: 7px;
  top: 7px;
}

.space {
  width: 115px;
  height: 40px;
  background-color: rgb(107, 106, 106);
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-active {
  background-color: rgb(49, 54, 126);
}

.space:hover {
  background-color: rgb(49, 54, 126);
}

.virtual-press-btn {
  border-radius: 20px;
}

.caps {
  background-color: rgb(51, 192, 62);
}
